.background {
    background-image: url("../img/background.png");
    width: 1366px;
    max-width: 100%;
    height: 400px;
}

.item{
    float: left;
    transition: 3s 1s;
}

.item:hover .caption{
    color: orangered;
} 

.item:hover .price{
    background-color: orangered;
    color: white;
    opacity: 1;
    
}

.picture {
    background-image: url("../img/Layer1.png");
    width: 307px;
    height: 200px;
    border: 2px solid;
	   -moz-border-image: -moz-linear-gradient(top left, white 0%, violet 100%);
	  -webkit-border-image: -webkit-linear-gradient(top left, white 0%, violet 100%);
	  border-image: linear-gradient(to bottom right, white 0%, violet 100%);
    border-image-slice: 1;
    position: relative;
    }

.details::after {
    content: '>';
    display: inline-block;
}


.item:hover:.caption {
    color: orangered;
    transition-duration: 3s 1s;
}

.caption {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.price {
    width: 308px;
    height: 63px;
    
    
    position: absolute;
    top: 137px;
    color: white;
    opacity: 0;
}



.euro {
    float: left;
    height: 63px;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 16px;
    padding-left: 20px;
    
}

.from {
    font-family: Verdana;
    font-size: 10px;
}

.from>span {
    font-size: 20px;
    line-height: 25px;
}




.details {
    float: right;
    margin-top: 30px;
    padding-right: 20px;
    font-family: Verdana;
    font-size: 14px;
     }


.clear {
    clear: both;
}
